<div class="container">
  <div class="text-center">
    <h1>Drones list</h1>
    <h5 *ngIf="drones.length > 0">Listing {{count}} drone(s)</h5>

    <table class="table" *ngIf="drones.length > 0">
      <thead>
        <tr>
          <th>Serial Number</th>
          <th>Brand</th>
          <th>Owner's Name</th>
          <th>Owner's Surname</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let drone of drones">
          <td>{{drone.serialNumber}}</td>
          <td>{{drone.brand}}</td>
          <td>{{drone.ownerFirstName}}</td>
          <td>{{drone.ownerLastName}}</td>
          <td> <button class="btn btn-primary" [disabled]="!permissions.hasViewAccess" [routerLink]="['/drones-list-view', drone.id]">View</button></td>
          <td> <button class="btn btn-warning m-1" [disabled]="!permissions.hasEditAccess" [routerLink]="['/update-drone-view', drone.id]">Edit</button></td>
          <td><button class="btn btn-danger m-1" [disabled]="!permissions.hasDeleteAccess" (click)="deleteDrone($event, drone)">Delete</button></td>
        </tr>
      </tbody>
    </table>

    <div class="text-center" *ngIf="drones.length <= 0">
      <h5>No drones :-(</h5>
    </div>

  </div>
</div>
