<nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2">
  <a class="navbar-brand" routerLink="/home"  >{{pageTitle}}</a>

  <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="active">Add Drone</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  routerLink="" routerLinkActive="active" >View Drones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="" routerLinkActive="active" href>Sign Out</a>
</li>
  </ul>
</nav>

<div class="mt-2">
  <router-outlet></router-outlet>
</div>

